@import "./bulma-0.7.2/bulma.sass";

.navbar .avatar {
	border-radius: 5px;
	margin-right: 10px;
	vertical-align: middle;
}

.media-list {
	display: flex;
	flex-wrap: wrap;
	.media-item {
		flex: 0 0 calc(50%);
		display: flex;
		padding: 1rem 0 0 1rem;
		.cover {
			flex: 0 0 75px;
			height: 100px;
			background: center/cover;
			position: relative;
			.check {
				position: absolute;
				bottom: 5px;
				right: 5px;
				width: 2rem;
				height: 2rem;
				display: flex;
				justify-content: center;
				align-items: center;
			}
		}
	}
	.more-items {
		padding: 1rem 0;
		flex: 100%;
	}
}


.cover {
	width: 50px;
	height: 75px;
	flex: 0 0 50px;
	position: relative;
	background: center/cover;
	border-radius: 5px;
	@include mobile {
		width: 50px;
		flex: 0 0 50px;
	}
}
.info-selection {
	flex: 1 1 calc(50% - 100px);
	margin-left: 1rem;
}
.save-footer {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	text-align: center;
	padding: 0.5rem;
	background: $dark;
}
.save-button {
	@include tablet {
		font-size: 1.5rem;
	}
}
