<section class="section">
  <div class="container">
    <h2 class="title is-size-1">Nominations</h2>
    <p class="subtitle is-size-4">Doin' some stuff Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem animi perspiciatis ullam nobis, quam consequatur! Facere omnis, nobis asperiores, aliquam et, odio amet dolore ratione ipsum eum quidem harum vero.</p>
  </div>
</section>

<div id="app"></div>
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
<script src="/js/form.js"></script>

<footer class="footer">
  <div class="container">
    <div class="level">
      <div class="level-left">
        <p>Some text</p>
      </div>
      <div class="level-right">
        <a href="#">Back to top</a>
      </div>
    </div>
  </div>
</footer>
