<div id="app"></div>
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.min.js"></script>
<script src="/js/common_components.js"></script>
<script type="text/javascript">
  showsJSON = <%= JSON.generate(data).inspect %>
</script>
<script src="/js/genres.js"></script>
