<section class="section">
  <div class="container">
    <h2 class="title is-size-1">Nominations</h2>
    <p class="subtitle is-size-4">Fill out your nominations below. Pick the shows you think most deserve an award, and select which categories you think each fits in best. You can save your progress to come back later, and continue making changes until the form cloaes at [TIME] on [DATE].</p>
  </div>
</section>

<div id="app"></div>
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
<script src="/js/common_components.js"></script>
<script type="text/javascript">
  // TODO: HOLY HELL there has to be a better way to do this
  charactersJSON = <%= characters.inspect %>
  showsJSON = <%= shows.inspect %>
</script>
<script src="/js/public_nominations.js"></script>

<footer class="footer">
  <div class="container">
    <div class="level">
      <div class="level-left">
        <p>Some text</p>
      </div>
      <div class="level-right">
        <a href="#">Back to top</a>
      </div>
    </div>
  </div>
</footer>
