<script type="text/javascript">
	const data = JSON.parse(<%= JSON.generate(data).inspect %>);
</script>
<div id="app">Loading...</div>
<script type="text/javascript">
fetch('/data/test.json').then(res => {
	return res.json();
}).then(json => {
	document.getElementById('app').innerHTML = `

<div class="section"><div class="container"><div class="content">

<h1>The Game So Far (${Object.keys(data)
	.map(key => data[key])
	.reduce((a, b) => a.concat(b))
	.filter((obj, i, arr) =>
		i === arr.findIndex(s => s.id === obj.id)
	).length} responses)</h1>

<h2>Table of Contents</h2>
<ul>
	<li><a href="#Genres">Genres</a></li>
</ul>

<h2 id="Genres">Genres (${data.genres.length} responses)</h2>

${(function () {
	const noms = {}
	const showsFirst = {}
	for (const response of data.genres.map(response => response.data)) {
		for (const showId in response) {
			const genre = response[showId]
			noms[genre] = noms[genre] || {};
			noms[genre][showId] = (noms[genre][showId] || 0) + 1;
			showsFirst[showId] = showsFirst[showId] || {};
			showsFirst[showId][genre] = noms[genre][showId];
		}
	}
	const showGenres = {};
	for (const showId in showsFirst) {
		showGenres[showId] = {genre: null, totalVotes: 0, genreVotes: 0};
		for (const genre in showsFirst[showId]) {
			const votes = showsFirst[showId][genre];
			console.log(votes);
			if (votes > showGenres[showId].genreVotes) {
				showGenres[showId].genre = genre;
				showGenres[showId].genreVotes = votes;
			}
			showGenres[showId].totalVotes += votes;
		}
	}
	console.log(showGenres);
	return `
		<table><tbody>
			${Object.keys(noms).sort().map(genreName => {
				const genre = noms[genreName];
				return `
					<tr id="${genreName}">
						<th colspan="3" style="font-size: 2em;">${genreName}</th>
					</tr>
					<tr>
						<th>Show</th>
						<th>Noms this category</th>
						<th>Noms all categories</th>
					</tr>
					${Object.keys(genre).filter(show => showGenres[show].genre === genreName).sort((a, b) => genre[b] - genre[a]).map(showId => {
						const show = json.shows.find(show => show.id == showId)
							|| json.opedOnly.find(show => show.id == showId);
						if (!show) return;
						const nomsCount = genre[showId];
						return `
							<tr>
								<th>${show.terms[0]}</th>
								<td>${nomsCount}</td>
								<td>${showGenres[showId].totalVotes}</td>
							</tr>
						`;
					}).join('')}
				`;
			}).join('')}
		</tbody></table>
	`;
})()}

</div>
</div>
</div>

`
});
</script>
